.scroll-container {
    max-height: 70vh; 
    margin: 100px; 

    &::-webkit-scrollbar {
        width: 10px; 
    }

    &::-webkit-scrollbar-track {
        background-color: #2f2f37; 
        height: 20px;
        margin: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8585ad; 

    }
}

.constructor-element {

    margin: 20px;
}

.constructor-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

